<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mari's PhoneBook Project</title>

  <!-- Bootstrap core CSS -->

</head>

<body>
  <section>

  <p>
    Title:
  </p>
  <p>
    Description:
  </p>
  <p>
    Date:
  </p>
  <p>
    Urgency:
  </p>
  </section>
  <p>
    milly
  </p>
<div>
  <ol id="results">

  </ol>
</div>
<p>
  muna
</p>
<p id="muna">

</p>

<p>
  jen
</p>
<p id="jen">

</p>




  <!-- Bootstrap core JavaScript -->
  <script src="static/js/js.js"></script>


</body>

</html>
