<!DOCTYPE html>
<html lang="en">

<!--LINKS -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> JAMMM | Task Management App </title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<!--JAMMM Title and Logo-->
<body>
  <header class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="static\images\strawberry_jam_min.jpeg">
      </div>
      <div class="app_title col-sm-9">
        <span class="first-word">JA</span>
        <span class="last-words">MMM</span>
      </div>
    </div>
  </header>

<!--Add task button on homepaage with link to Task Entry Form -->
  <div class="container col-sm-4">
    <button class="btn btn-primary btn-lg btn-block">
      <a href="/add_task">
        Add task
      </a>
    </button>
  </div>

<!--Tasks will be displayed in here-->
<!--No CSS or JS for this yet-->
  <div id="tasks">
    <ol>
<!--Tasks entered in the form to be displayed here for the user to go back into-->
    </ol>
  </div>
  <script src="your js file"></script>
</body>
</html>
