<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> JAMMM | Task Management App </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<!--JAMMM Title-->

<body>
  <header class="container">
    <a href="/">
    <div class="row">
      <div class="col-sm-3">
        <img src="static\images\strawberry_jam_min.jpeg">
      </div>
      <div class="app_title col-sm-9">
        <span class="first-word">JA</span>
        <span class="last-words">MMM</span>
      </div>
    </div>
  </a>
  </header>

  <!--TASK ENTRY BOX-->
  <div class="container">
    <div class="row">
      <form class="col-sm-12" action="/add_task_display" method="POST">
        <div class="form-group">
          <label for="title">Task title</label>
          <input class="form-control form-control-lg" type="text" placeholder="STICK YOUR TASK HERE..." id="title" name="title">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control form-control-lg" id="description" name="description" required="required" placeholder="Description">
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input class="form-control form-control-lg" type="text" id="date" name="date" required="required" placeholder="DD/MM/YYYY">
        </div>

        <div class="form-group">
          <label for="urgency">Urgency</label>
          <input class="form-control form-control-lg" type="text" id="urgency" name="urgency" required="required" placeholder="Urgency">
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <input class="form-control form-control-lg" type="text" id="status" name="status" required="required" placeholder="Status">
        </div>
        </div>
<!--Used an SVG Image for the button-->
        <div class="text-center">
          <button id="add" class="btn btn-light ">
            SUBMIT
          </button>
        </div>

      </form>

    </div>
{%block content%}
{%endblock%}
</body>
</html>
